
body {
  background-color: #d0ffd8;
  color: #0c750c;
}

.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  /* background-color: #008000; */
  color: white;

}

.btn {
  opacity: 0.8;
}

.btn:hover{
  opacity: 1;
}



#popcorn {
  display: inline-block;
  width: 134px;
  height: 120px;
  background-image: url('https://popper.js.org/images/popcorn-box.svg');
}

#tooltip {
  display: inline-block;
  background: #ffffff;
  color: #643045;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 13px;
  border-radius: 4px;
}


.flash{
  position: absolute;
  top: 100px;
  right: 10px;
}

@media only screen and ( max-width: 600px) {
  .flash{
    top: 80px;
    left: 10px;
     
  }
}

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}


#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

#tooltip[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

#tooltip[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

#tooltip[data-popper-placement^='right'] > #arrow {
  left: -4px;
}
